<a href="https://colab.research.google.com/github/Dhrubojit07/Dhrubojit07/blob/main/Dhrubojit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [6]:
from google.colab import files
uploaded = files.upload()

Saving Student.csv to Student (3).csv

In [16]:
df = pd.read_csv('Student.csv')
print(df)

     Regn No.   Age  Gender  Data Science  Networks  Architecture  Database
0    12188341  21.0  female          67.0      82.0          37.0      25.0
1    12130597  25.0  female          76.0      62.0          66.0      35.0
2    12377867  17.0  female          86.0      71.0          73.0      58.0
3    12337339  18.0  female          80.0      55.0          44.0      86.0
4    12348602  24.0    male          65.0      52.0          63.0      40.0
..        ...   ...     ...           ...       ...           ...       ...
977  12100300  19.0    male          76.0      60.0          36.0      61.0
978  12177505  18.0    male          76.0      77.0          73.0      20.0
979  12308767  25.0    male          89.0      74.0          67.0      57.0
980  12358915  20.0    male          77.0      71.0          68.0      90.0
981  12236993  20.0  female          94.0      76.0          75.0      80.0

[982 rows x 7 columns]

In [19]:
print("Basic Information-")
print(df.info())

Basic Information-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Regn No.      982 non-null    int64
 1   Age           977 non-null    float64
 2   Gender        972 non-null    object
 3   Data Science  974 non-null    float64
 4   Networks      975 non-null    float64
 5   Architecture  975 non-null    float64
 6   Database      978 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 53.8+ KB
None

In [23]:
print("Description-")
print(df.describe())

Description-
           Regn No.         Age  Data Science    Networks  Architecture  \
count  9.820000e+02  977.000000    974.000000  975.000000    975.000000
mean   1.224793e+07   21.096213     78.828542   67.408205     52.169231
std    8.586226e+04    2.573302     10.943204   10.329457     13.341398
min    1.210010e+07   17.000000     60.000000   50.000000     30.000000
25%    1.217462e+07   19.000000     69.000000   58.000000     40.000000
50%    1.224725e+07   21.000000     79.000000   68.000000     52.000000
75%    1.231948e+07   23.000000     88.000000   76.000000     64.000000
max    1.239958e+07   25.000000     98.000000   85.000000     75.000000

         Database
count  978.000000
mean    49.453988
std     23.478739
min     10.000000
25%     29.000000
50%     50.000000
75%     70.000000
max     90.000000

In [25]:
print("First thirty rows of the dataset:")
print(df.head(30))

First thirty rows of the dataset:
    Regn No.   Age  Gender  Data Science  Networks  Architecture  Database
0   12188341  21.0  female          67.0      82.0          37.0      25.0
1   12130597  25.0  female          76.0      62.0          66.0      35.0
2   12377867  17.0  female          86.0      71.0          73.0      58.0
3   12337339  18.0  female          80.0      55.0          44.0      86.0
4   12348602  24.0    male          65.0      52.0          63.0      40.0
5   12140355  20.0    male          91.0      60.0          46.0      73.0
6   12333887  25.0  female          69.0      76.0          41.0      15.0
7   12273795   NaN  female          70.0      62.0          39.0      62.0
8   12295774  22.0    male          65.0      54.0          49.0      60.0
9   12285294  18.0    male          89.0      83.0          55.0      52.0
10  12139600  24.0  female          81.0      81.0          37.0      56.0
11  12247942  25.0  female          74.0      67.0          53.0      33.0
12  12266432  20.0    male          96.0      71.0          43.0      50.0
13  12282227  19.0    male          87.0      75.0          56.0      12.0
14  12126646  20.0  female          64.0      84.0          61.0      61.0
15  12281155  17.0  female          74.0      51.0          51.0      35.0
16  12210887  24.0    male          62.0      56.0          63.0      42.0
17  12272291  25.0    male          70.0      72.0          39.0      16.0
18  12237219  24.0  female          70.0      62.0          46.0      35.0
19  12160961   NaN  female          98.0      74.0          40.0      28.0
20  12103568  20.0    male          73.0      61.0          70.0      68.0
21  12116940  21.0    male          83.0      52.0          33.0      73.0
22  12193220  25.0  female          90.0      71.0          64.0      90.0
23  12262795  17.0    male          75.0      71.0          34.0      78.0
24  12328087  22.0  female          79.0      65.0          74.0      30.0
25  12128983  17.0  female          87.0      73.0          59.0      53.0
26  12301039  24.0    male          64.0      79.0          52.0      72.0
27  12369371  22.0    male          89.0      79.0          40.0      46.0
28  12194532  24.0  female          95.0      59.0          58.0      23.0
29  12198457  25.0    male          79.0      52.0          41.0      22.0

In [26]:
print("Last ten rows of the dataset:")
print(df.tail(10))

Last ten rows of the dataset:
     Regn No.   Age  Gender  Data Science  Networks  Architecture  Database
972  12328200  17.0    male          81.0      72.0          54.0      59.0
973  12286179  17.0  female          96.0      52.0          42.0      37.0
974  12313888  17.0    male           NaN      63.0          46.0      64.0
975  12270318  23.0  female          82.0      64.0          34.0      29.0
976  12208636  22.0  female          67.0      67.0          75.0      25.0
977  12100300  19.0    male          76.0      60.0          36.0      61.0
978  12177505  18.0    male          76.0      77.0          73.0      20.0
979  12308767  25.0    male          89.0      74.0          67.0      57.0
980  12358915  20.0    male          77.0      71.0          68.0      90.0
981  12236993  20.0  female          94.0      76.0          75.0      80.0

In [28]:
sorted_df = df.sort_values(by=['Age'], ascending=False)
print("Sorted dataset in descending order:")
print(sorted_df)

Sorted dataset in descending order:
     Regn No.   Age  Gender  Data Science  Networks  Architecture  Database
386  12112120  25.0    male          67.0      83.0          43.0      79.0
928  12288827  25.0  female          92.0      77.0          54.0      72.0
922  12279238  25.0    male          82.0      64.0          51.0      49.0
144  12166281  25.0    male          94.0      75.0          61.0      18.0
146  12119896  25.0    male          93.0      59.0          62.0      30.0
..        ...   ...     ...           ...       ...           ...       ...
7    12273795   NaN  female          70.0      62.0          39.0      62.0
19   12160961   NaN  female          98.0      74.0          40.0      28.0
409  12285950   NaN  female          61.0      75.0          31.0      18.0
697  12324439   NaN  female          84.0      50.0          43.0      83.0
876  12177842   NaN    male          60.0      58.0          36.0      21.0

[982 rows x 7 columns]

In [30]:
sorted_df = df.sort_values(by=['Networks'])
print("Sorted dataset with marks in networks in ascending order:")
print(sorted_df)

Sorted dataset with marks in networks in ascending order:
     Regn No.   Age  Gender  Data Science  Networks  Architecture  Database
539  12213462  20.0  female          69.0      50.0          72.0      35.0
57   12226844  20.0    male          66.0      50.0          46.0      39.0
586  12334517  24.0    male          76.0      50.0          62.0      35.0
777  12253703  25.0  female          69.0      50.0          69.0      26.0
500  12132374  19.0    male          73.0      50.0          45.0      54.0
..        ...   ...     ...           ...       ...           ...       ...
625  12353512  25.0    male          74.0       NaN          37.0      70.0
781  12150649  17.0  female          74.0       NaN          52.0      71.0
826  12121222  23.0    male          72.0       NaN          36.0      79.0
915  12102511  23.0  female          92.0       NaN          35.0      19.0
962  12236109  22.0    male          64.0       NaN          45.0      17.0

[982 rows x 7 columns]

In [31]:
selected_columns = df[['Regn No.', 'Age', 'Gender']]
print(selected_columns)

     Regn No.   Age  Gender
0    12188341  21.0  female
1    12130597  25.0  female
2    12377867  17.0  female
3    12337339  18.0  female
4    12348602  24.0    male
..        ...   ...     ...
977  12100300  19.0    male
978  12177505  18.0    male
979  12308767  25.0    male
980  12358915  20.0    male
981  12236993  20.0  female

[982 rows x 3 columns]

In [35]:
max_marks = df.drop(columns=['Regn No.' , 'Age' , 'Gender']).max()
min_marks = df.drop(columns=['Regn No.' , 'Age' , 'Gender']).min()
print("Maximum marks in all subjects:")
print(max_marks)
print("\nMinimum marks in all subjects:")
print(min_marks)

Maximum marks in all subjects:
Data Science    98.0
Networks        85.0
Architecture    75.0
Database        90.0
dtype: float64

Minimum marks in all subjects:
Data Science    60.0
Networks        50.0
Architecture    30.0
Database        10.0
dtype: float64

In [33]:
print(df.dtypes)

Regn No.          int64
Age             float64
Gender           object
Data Science    float64
Networks        float64
Architecture    float64
Database        float64
dtype: object

In [41]:
print("Number of Genders:")
df['Gender'].nunique()

Number of Genders:

2

In [40]:
print("Correlation Matrix:")
print(df.corr())

              Regn No.       Age  Data Science  Networks  Architecture  \
Regn No.      1.000000 -0.034314      0.041920  0.017891     -0.041535
Age          -0.034314  1.000000     -0.040212  0.022087     -0.026230
Data Science  0.041920 -0.040212      1.000000  0.028243     -0.021516
Networks      0.017891  0.022087      0.028243  1.000000      0.011227
Architecture -0.041535 -0.026230     -0.021516  0.011227      1.000000
Database     -0.015033  0.020059     -0.042242  0.016141      0.023007

              Database
Regn No.     -0.015033
Age           0.020059
Data Science -0.042242
Networks      0.016141
Architecture  0.023007
Database      1.000000

<ipython-input-40-23236a4e6045>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())

In [42]:
print("Number of null values in each column:")
print(df.isnull().sum())

Number of null values in each column:
Regn No.         0
Age              5
Gender          10
Data Science     8
Networks         7
Architecture     7
Database         4
dtype: int64

In [44]:
mean = df.drop(columns=['Regn No.' , 'Gender']).mean()
df.fillna(mean, inplace= True)
print(df)

     Regn No.   Age  Gender  Data Science  Networks  Architecture  Database
0    12188341  21.0  female          67.0      82.0          37.0      25.0
1    12130597  25.0  female          76.0      62.0          66.0      35.0
2    12377867  17.0  female          86.0      71.0          73.0      58.0
3    12337339  18.0  female          80.0      55.0          44.0      86.0
4    12348602  24.0    male          65.0      52.0          63.0      40.0
..        ...   ...     ...           ...       ...           ...       ...
977  12100300  19.0    male          76.0      60.0          36.0      61.0
978  12177505  18.0    male          76.0      77.0          73.0      20.0
979  12308767  25.0    male          89.0      74.0          67.0      57.0
980  12358915  20.0    male          77.0      71.0          68.0      90.0
981  12236993  20.0  female          94.0      76.0          75.0      80.0

[982 rows x 7 columns]